/* scroll bar style */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(199, 100%, 25%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(199, 100%, 20%);
}

.Backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #1E2323;
    z-index: -10;
}

.Backdrop-light {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #F2F2F2;
    z-index: -10;
}

.Grad1 {
    position: absolute;
    top: -120px;
    left: -105px;
    z-index: -9;
    height: 338px;
    width: 338px;
    background: #198CE6;
    opacity: 0.3;
    filter: blur(100px);
}

.Grad2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -9;
    height: 338px;
    width: 338px;
    background: #198CE6;
    opacity: 0.2;
    filter: blur(100px);
}