/* scroll bar style */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(199, 100%, 25%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(199, 100%, 20%);
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    display: none;
}

.video-react,
.video-react-poster,
.video-react-video {
    border-radius: 8px !important;
    background-color: transparent !important;
}